.logo {
    object-fit: cover;
    width: 50px;
    border-radius: 60%;
}

.logo2 {
    object-fit: cover;
    width: 80px;
}


/* centramos el titulo h1 */
h1{
    text-align: center;
}

/* Footer */
.footer {
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer-r {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* Header */
.header-img {
    background-image: url(../images/bg-header.png);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.header-title {
    font-family:'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

/* Contenido index */

.section {
    padding: 4rem 6rem;
    text-align: center;
}

.section-title {
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-subtitle {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.descripcion {
    justify-content: center;
}

.card-style {
    width: 16rem; 
    display: inline-block; 
    margin-top: 10px;
}

.integrantes {
    background-color: #f8f9fa;
}

/* Contenido robots */
.flexbox {
	display:flex;
    flex-wrap: wrap;
}

.robots {
    background-color: #f8f9fa;
    text-align: center;
}

.robot1 {
    background: radial-gradient(circle,#000,#bbb,);
    padding: 2.5rem;
}
.robot2 {
    background: radial-gradient(circle,#000,#bbb,);
    padding: 2.5rem;
}

@media (min-width: 768px) {
    .robot1 {
        border-right: 3px solid #c8cccf;
    }
}

.img-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.img-robot-1 {
    object-fit: cover;
    width: 72%;
    box-shadow: 3px 3px 5px grey;
}

.img-robot-2 {
    object-fit: cover;
    width: 90%;
    box-shadow: 3px 3px 5px grey;
}

.title-adjust {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div__video {
    display: flex;
    justify-content: center;
}

.descripcion-robot {
    margin: 0.5rem 0;
}