.logo {
    object-fit: cover;
    width: 50px;
    border-radius: 60%;
}

.logo2 {
    object-fit: cover;
    width: 80px;
}


/* centramos el titulo h1 */
h1 {
    text-align: center;
}

.footer {
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

.header-img {
    background-image: url(../images/bg-header.png);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.header-title {
    font-family:'Montserrat', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.descripcion {
    display: flex;
    justify-content: center;
}